// @mixin font-face($font-family, $font-weight, $font-style, $font-src, $font-display){
//   @font-face {
//     font-family: "lato";
//     font-weight: 400;
//     font-style: normal;
//     src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
//     font-display: swap;
//   }
// }

@mixin font-face($font-family, $font-weight, $font-style, $font-src, $font-display: swap) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: $font-display;
  }
}
