/* здесь используйте глобальные переменные */
$darkgrey: #000000;
$lightgrey: #FFFFFF;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$font-family-oswald: "Oswald", "Arial", sans-serif;
$font-family-lato: "Lato", "Arial", sans-serif;
