.contacts {
  width: 100%;
  position: relative;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.contacts__info {
  background-color: #ffffff;
  padding: 26px 20px;
  display: flex;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0;
    gap: 308px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding: 60px 80px;
    gap: 87px;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.contacts__title {
  font-family: $font-family-oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 200px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.contacts__address {
  font-family: $font-family-lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    max-width: 160px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    max-width: none;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}