.contacts {
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 112px;

  @media (min-width: $tablet-width) {
    height: 75px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    height: 0;
  }
}

.contacts__info {
  background-color: #ffffff;
  display: flex;
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 41px;
    // gap: 308px;

    @media (min-width: $tablet-width) {
      background-color: #f2f2f2;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 90px;
    gap: 85px;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px 75px 60px 0;
  }
}

.contacts__title {
  font-family: $font-family-oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 140px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 200px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    padding-left: 80px;
    padding-right: 0;
    height: 71px;
    width: 163px;
    margin: 0;
  }
}

.contacts__address {
  margin-top: 19px;
  font-family: $font-family-lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  min-width: 141px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    width: 157px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
    text-align: left;
    margin-left: 5px;
    width: 157px;
  }
}

.contacts__street,
.contacts__city {
  margin: 0;

  @media (max-width: ($tablet-width - 1)) {
    display: inline;

    &::after {
      content: " ";
      white-space: pre;
    }
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
    margin-top: 125px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    margin-top: 0;
  }
}
