.gift {
  background-color: #68b738;
  background-image: url("../../images/cat-catalog@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 58px 60px 43px;
  text-align: center;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/cat-catalog@2x.jpg");
    padding: 57px 124px 60px 77px;
    text-align: left;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/cat-catalog@2x.jpg");
    padding: 56px 40px 42px;
    text-align: center;
    display: block;
    margin-bottom: 0;
    height: 100%;
  }
}

.gift__icon {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 46px;
  }
}

.gift__text {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 160px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}