.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  background-color: #ffffff;


  @media (min-width: $tablet-width) {
    padding: 24px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 110px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.header__logo-image {
  height: auto;
  display: block;
}