.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    gap: 33px;
    display: flex;
    flex-wrap: nowrap;
  }
}

.menu__link {
  display: inline-block;
  padding: 10px 0;
  font-family: $font-family-oswald;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;

  @media (min-width: $tablet-width) {
    white-space: nowrap;
  }

  @media (min-width: $desktop-width) {
    white-space: nowrap;
    color: #FFFFFF;
    font-size: 20px;
  }
}

.menu__item {
  display: block;
}

.menu__item--active .menu__link {
  color: #111111;
}
